# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file> 
# platform: win-64
colorama
ipython
ipykernel
ipython_genutils
keras
keras-preprocessing
matplotlib
numpy
scikit-learn
scipy
